*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include basic-area;
  @include font($space-mono, 15px, 700, 25px)
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

