$header__link-color: #939CAA;
$white__color: #FFFFFF;
$main__button-bg: #FCB72B;
$toggle__navbar-bg: #333A44;
$header__link--mobile-color: #E5ECF4;
$benefits__title-color: #495567;

$space-mono: "Space Mono", "Arial", sans-serif;
$lexend-deca: "Lexend Deca", "Arial", sans-serif;

$tablet: 1150px;
$mobile: 729px;
