.main-button {
  padding: 11px 49px;
  color: $white__color;
  background-color: $main__button-bg;
  border: 3px solid transparent;
  transition: .5s ease all;
}

.main-button:hover {
  color: $main__button-bg;
  background-color: $white__color;
  border: 3px solid $main__button-bg;
}