.proccess {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;

  &__container {
    padding: 296px 20px 200px;
  }

  &__list {
    @include basic-area;
    @include flex-display;
    justify-content: space-between;

    &-item {
      @include basic-area;
      max-width: 350px;
    }
  }

  &__list {
    &-item {
      position: relative;

      &::after {
        content: "";
        display: flex;
        width: 96px;
        height: 96px;
        background-color: $main__button-bg;
        border-radius: 50%;
        position: absolute;
        top: -100%;
        left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 2;
      }

      &::before {
        content: "";
          display: inline-block;
          width: 284px;
          height: 15px;
          background-color: $header__link--mobile-color;
          position: absolute;
          top: calc(-100% + (96px / 2) - (15px / 2));
          right: 100%;
      }
    }

    .proccess__list-phone-tap::after {
        background-image: url(../../img/icons/phone-tap.svg);
    }

    .proccess__list-scooter::after {
      background-image: url(../../img/icons/scooter.svg);
    }

    .proccess__list-delivery::after {
      background-image: url(../../img/icons/enjoy-ride.svg);
    }
  }

  &__item {
    &-title {
      @include basic-area;
      @include font($space-mono, 24px, 700, 28px);
      margin-bottom: 27px;
    }

    &-description {
      @include basic-area;
      @include font($lexend-deca, 15px, 400, 25px);
      color: $header__link-color;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .proccess {
    &__list {
      flex-direction: column;
    }

    &__list-item {
      @include flex-display;
      max-width: 573px;
      margin-bottom: 40px;
    }
  }
}